.navbar-header {
    margin-bottom: 0.5%;
    padding-top: 8px;
    background-color: white;
}

#win {
    margin-top: -5%;
    margin-left: 83%;
}

.stylish-input-group {
    padding-top: 8px;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}

/*.stylish-input-group .input-group-addon .glyphicon-search{
   left: 11px;
    /*position: absolute*/;
    
     
/*}*/

.stylish-input-group .form-control{
    border-right:3; 
    box-shadow:0 0 0; 
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.stylish-input-group {
    padding-left: 300px;
}


.pull-right {
    margin-left: 200px;
    padding-top: 10px;
}

.pull-right #love {
    padding-top: 4px;
    margin-right: -3px;
}

.pull-right #user {
    padding-top: -3px;
    margin-right: -5px;

}

.side-menu {
   /* padding-left: 50px;*/
   width: 233px;
   margin-top: 5px;
}

.sidebar {
    margin-left: 190px;
    margin-top: 35px;
}

.sidebar1 {
    width: 58%;
}

.sidebar nav ul a{
        text-decoration: none;
        color: #262626;
        font-size: 16px;
        font-weight: 600;
        padding-right: 10px;
  }


.border-box {
    /*background: #fc3;
    margin: 0 0 20px;
    padding: 40px;
    width: 320px;
    text-align: center;*/

   border: 1px solid #dbdbdb;
 
    height: 400px;


   }

/*.col-xs-12 img {
    width: 40px;
    margin-left: 120px;
    margin-top: 15px;
}

.col-xs-12 .col-md-12 {
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;

}*/

.navbar-nav img {
    width: 40px;
    margin-left: 100px;
    margin-top: 15px;
}

.navbar-nav .pull-right {
    font-weight: bold;
    color: #0A0104;
    margin-top: 25px;
    margin-left: -10px;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
}

.col-lg-7 {
    margin-top: 40px;
    margin-right: 20px;
    
   }

#jan a{
    
    text-decoration: none;
    margin-left: -75px;
   
}

#feb p {
    color: #999;
    margin-left: 170px;
}

#submit {
    width: 160px;
    height: 30px;
    padding: 0;
    margin-left: -50px;
   margin-bottom: 78px;
}

.rams  {
    margin-top: 1%;
    font-weight: bold;
    font-size: 11px;
    margin-left: -3.5%; 
    display: -webkit-flex; 
    word-spacing: -10%;
   margin-bottom: 5%;

}

.rams .nav a{
    color: #003569;
}

.rams p {
    float: right;
    margin-top: 10px;
    font-size: 12px;
    /*font-weight: bold;*/
   /*  word-spacing: 20%;*/
     margin-right: -15%;
      color: #999;

}