.navbar-header {
    margin-bottom: 0.5%;
    padding-top: 5px;
    background-color: white;
}

#win {
    margin-top: -5%;
    margin-left: 83%;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}

/*.stylish-input-group .input-group-addon .glyphicon-search{
   left: 11px;
    /*position: absolute*/;
    
     
/*}*/

.stylish-input-group .form-control{
    border-right:3; 
    box-shadow:0 0 0; 
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.stylish-input-group {
    padding-left: 300px;
}

.navbar-btn {
    margin-left: 80px;
    width: 110px;
}

.navbar-right {
    margin-left: 10px;
    font-weight: 600;
    font-size: 16px;
}

.navbar-right em {
     color: #c7c7c7;
}

.pull-left {
    padding-left: 180px;
    margin-top: 35px;
}

#sss {
   margin-left: -60%;
}

#s1 {
   margin-left: -70%;
   margin-bottom: -50px;
}

.col-sm-4 {
   text-decoration: none;
}

.main-nav{
    float: left;
    margin-top: -30px;
    margin-left: 20px;   
}

.main-nav li{
    display: inline-block;
    margin: 40px;
 
}

.main-nav li a {
     text-decoration: none;
     color: black;

 }

.para {
    padding-left: 40px;
    margin-top: -5%;
    font-size: 15px;
}
.col-md-3{
  color: block;
  background-color: white;
 height: 640px;
 margin-bottom: 20px;

 right: 15%;

}

.gap-left img {
width: 40px;
margin-right: 130px;
margin-top: 15px;
margin-bottom: 20px;
}

.col-md-3 .second {
 text-decoration: none;
 font-weight: bold;
 color: #010408;
 margin-left: -40%; 
}

.col-md-3 .btn-sm {
  margin-left: 100px;   
  width: 70px;
 
}

.gap-left {
   border-bottom: 1px solid #efefef;
    padding-bottom: 5px; 
}

.the {
    margin-top: 80px;
}

.the a {
    text-decoration: none;
    color: #003569;
}

.that {
    margin-top: 90%;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    padding-bottom: -3px;
   padding-top: 10px;
}

.login {

    color: #999;
}

.login a {
    text-decoration: none;
    color: #003569;
}

.login i {
    margin-left: 120px;
    margin-top: 10px;
    color: black;
}

.lib-panel {
   padding-bottom: 20px;
   padding-left: 105px;
}

.lib-panel #apple img{
    margin-left: -43%;
    
}

.lib-panel #boy img{
    margin-left: -85%;
    
}

.lib-panel #cartoon img{
    margin-left: -43%;
    
}

.lib-panel #doll img{
    margin-left: -85%;
    
}

.lib-panel #energy img{
    margin-left: -43%;
    
}

.lib-panel #find img{
    margin-left: -85%;
    
}

